// Colors
$blue-200: hsl(193, 38%, 86%);
$green-300: hsl(150, 100%, 66%);

$blue-600: hsl(217, 19%, 38%);
$blue-900: hsl(217, 19%, 24%);
$blue-950: hsl(218, 23%, 16%);
$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);

// Typography
$font-primary: 'Manrope', sans-serif;
$font-bold: 800;

$font-size-l: 28px;
$font-size-m: 24px;
$font-size-s: 13px;

$line-height-main: 135%;

$letter-spacing-tight: -0.3px;
$letter-spacing-wide: 4px;
